.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.scrollable {
	height:500px;
	width:800px;		
    overflow-y:auto;
	float:left;
	position:relative;
	margin-left:-5px;
}

.unselectedTable {
    background-color: bisque;
}

.selectedTable {
    background-color: burlywood;
}

.colHead {
    background-color: gray;
    color: chartreuse;
}