.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}
.LEO{
color:#684dda;
fill:#684dda;
stroke: black;
stroke-opacity: 0.5;
}
.GEO{
color:#da3182;
fill:#da3182;
stroke: black;
stroke-opacity: 0.5;
}
.Elliptical{
color:#69809e;
fill:#69809e;
stroke: black;
stroke-opacity: 0.5;
}
.MEO{
color:#95c5ac;
fill: #95c5ac;
stroke: black;
stroke-opacity: 0.5; 
}

.scrollable2 {
    height: 600px;
    width: 1300px;
    overflow-y: auto;
    float: left;
    position: relative;
    /*margin-left: -5px;*/
}

table,
th,
td {
  border: 1px solid;
  cursor:pointer;
}

table {
    width: 100%;
    max-width: 1000px;
    height: 600px;
    margin: 0 auto;
    display: block;
    overflow-x: auto;
    border-spacing: 0;
    position:relative;
    float: left;
}

tbody {
    white-space: normal;
}

th,
td {
    padding: 5px 10px;
    border-top-width: 0;
    border-left-width: 0;
}

th {
    position: sticky;
    top: 0;
    vertical-align: bottom;
    width:100px;
    background-color: #34495e;
    color: white;
    text-align: center;
}

th:last-child,
td:last-child {
    border-right-width: 0;
}

tr:last-child td {
    border-bottom-width: 0;
}

td {
    font-family:'Times New Roman';
    font-size:10pt;
}

.colHead {
    height:80px;
}

.unselectedTable {
    background-color: #bee4d0;
    text-align: center;
    border-collapse: collapse;
}

.selectedTable {
    background-color: #69809e;
    text-align: center;
    border: 3pt solid black;
}

#slider-sample{
    float: right;
}

.FilterButton {
    top:0;
    float: left;
    position:relative;
    
}
